@font-face {
  font-family: Xolonium;
  src: url('../fonts/Xolonium-Bold.woff2');
  font-weight: 700;
}
@font-face {
  font-family: Xolonium;
  src: url('../fonts/Xolonium-Regular.woff2');
  font-weight: 400;
}