.intro{
  background: url('../images/intro.png') center / cover no-repeat;
  @include media(1200){
    background: url('../images/intro.png') left / cover no-repeat;
  }
  &__body{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-top: 40px;
    padding-bottom: 40px;
    @include media(1200){
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
    }
  }
  &__content{
    width: 100%;
    @include media(1200){
      width: 100%;
      margin-right: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  &__image{
    width: 40%;
    @include media(1200){
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 70px;
    }
  }
  &__img{
    max-width: 100%;
  }
  &__title{
    font-weight: bold;
    text-align: center;
    font-size: 44px;
    line-height: 64px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 180px;
    span{
      color: #FFE70E;
    }
    @include media(1200){
      text-align: center;
    }
    @include media($md){
      font-size: 26px;
      line-height: 120%;
    }
  }
  &__p{
    font-family: Inter;
    font-style: normal;
    font-weight: 200;
    font-size: 16px;
    line-height: 120%;
    color: #FFFFFF;
    max-width: 400px;
    @include media(1200){
      text-align: center;
    }
    @include media($md){
      font-size: 16px;
      line-height: 120%;
    }
    &.dots{
      position: relative;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      @include media($md){
        display: flex;
        justify-content: center;
        align-items: flex-start;
        text-align: center;
        &:not(:last-child){
          
        }
      }
      &::before{
        content: '';
        width: 4px;
        height: 4px;
        background: #FFE70E;
        margin-right: 8px;
        @include media($md){
          margin-top: 8px;
        }
        @include media(444){
          display: none;
        }
      }
    }
  }
  &__list{
    margin-top: 35px;
    list-style-type: none;
    @include media(1200){
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  &__btn{
    margin-top: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #000000;
    width: 250px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFE70E;
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.38);
    border-radius: 5px;
  }
}