.quote{
  background: url('../images/video-bg.png') center / cover no-repeat;
  &__body{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 75px 15px 0 15px;
    position: relative;
    @include media(1200){
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
    }
  }
  &__img{
    margin-right: 50px;
    max-height: 300px;
    @include media(1200){
      margin-right: auto;
    }
    @include media(768){
      max-width: 110px; 
      position: absolute;
      left: 0;
      top: 60px;
    }
    &-2{
      margin-left: 30px;
      max-width: 100%;
      @include media(1200){
        margin-left: auto;
        margin-top: 40px;
      }
    }
  }
  &__content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 20px;
    @include media($md){
      align-items: flex-start;
      justify-content: flex-start;
    }
  }
  &__title{
    font-weight: bold;
    font-size: 18px;
    max-width: 600px;
    width: 100%;
    color: #FFFFFF;
    @include media(1200){
      text-align: center;
    }
    margin-bottom: 18px;
    @include media($md){
      text-align: center;
      margin-bottom: 30px;
      padding-left: 110px;
      text-align: left;
    }
    @include media(576){
      font-size: 15px;
      max-width: 300px;
      padding-left: 90px;
    }
  }
  &__p{
    font-family: Inter;
    font-style: normal;
    font-weight: 200;
    font-size: 20px;
    color: #FFFFFF;
    max-width: 600px;
    width: 100%;
    margin-bottom: 20px;
    @include media(1200){
      text-align: center;
    }
    @include media($md){
      margin-bottom: 22px;
      text-align: left;
      font-size: 18px;
    }
  }
  &__subtitle{
    font-weight: bold;
    font-size: 18px;
    color: #FFFFFF;
    @include media(1200){
      text-align: center;
    }
    @include media(768){
      color: #FFE70E;
    }
  }
}