.what{
  padding: 75px 0;
  @include media(1200){
    padding: 75px 0 0 0;
  }
  &__body{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    @include media(1200){
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
    }
  }
  &__content{
    width: calc(60% - 100px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    @include media(1200){
      width: 100%;
    }
  }
  &__title{
    font-weight: bold;
    font-size: 26px;
    text-transform: uppercase;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 60px;
    img{
      margin-right: 13px;

    }
    @include media(768){
      font-size: 26px;
      line-height: 120%;
    }
    @include media($sm){
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      text-align: center;
      margin-bottom: 47px;
      img{
        margin-bottom: 20px;
        margin-right: 0;
      }
    }
  }
  &__p{
    color: #FFFFFF;
    font-family: inter;
    font-weight: 200;
    font-size: 20px;
    line-height: 30px;
    &:first-of-type{
      margin-bottom: 30px;
    }
    b{
      font-family: Xolonium;
      font-style: normal;
      font-weight: bold;
    }
    @include media($sm){
      font-size: 18px;
      line-height: 26px;
    }
  }
  &__image{
    max-width: 500px;
    width: calc(40%);
    overflow: hidden;
    @include media(1200){
      width: 100%;
      margin-top: 20px;
      order: 1;
    }
  }
  &__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    @include media(1200){
      transform: rotate(6deg);
      margin-bottom: -90px;
    }
    @include media(992){
      transform: rotate(6deg);
      margin-bottom: -68px;
    }
    @include media($md){
      margin-bottom: -52px;
    }
    @include media($sm){
      margin-bottom: -52px;
    }
    @include media(400){
      margin-bottom: -38px;
    }
  }
}