mixin advantages()
    .advantages 
        .advantages__body.container
            img(src="images/advantages.png", alt="").advantages__img
            .advantages__content 
                p.advantages__title 30 ДНЕЙ ВЗРЫВНОГО КОНТЕНТА И ПРОКАЧКИ ТЕБЯ В СФЕРЕ МАРКЕТИНГА
                .advantages__items 
                    p.advantages__item Каждый день получаешь новый материал с теоретической и практической частью
                    p.advantages__item Каждый день твоя база знаний, навыков и освоенных инструментов пополняется
                    p.advantages__item Получаешь и выполняешь задания, которые приносят результат здесь и сейчас
                    p.advantages__item Изо дня в день ты будешь становиться лучшей версией себя в сфере маркетинга и продаж
                    p.advantages__item Пройдя подготовку ты становишься мастером по привлечению клиентов в любой бизнес