mixin answers()
    .answers    
        .answers__body.container 
            img(src="images/answers.png", alt="").answers__img
            .answers__content 
                h2.what__title 
                    img(src="images/aim.svg", alt="")
                    | Часто задаваемые вопросы:
                button.accordion Вопрос 1
                .panel
                p
                    | Ответ Практическая частььОсновной арсенал инструментов и сервисов любого маркетологаЧто делать самому/Что делегировать Базовая работа с PhotoShop создать объявление, но лучше дизайнеНастройка таринстаграм-страницы
                button.accordion Вопрос 2
                .panel
                p
                    | Ответ Практическая частььОсновной арсенал инструментов и сервисов любого маркетологаЧто делать самому/Что делегировать Базовая работа с PhotoShop создать объявление, но лучше дизайнеНастройка таринстаграм-страницы
                button.accordion Вопрос 3
                .panel
                p
                    | Ответ Практическая частььОсновной арсенал инструментов и сервисов любого маркетологаЧто делать самому/Что делегировать Базовая работа с PhotoShop создать объявление, но лучше дизайнеНастройка таринстаграм-страницы

