mixin intro()
  .intro 
    .intro__body.container  
      .intro__content 
        h1.intro__title Взрывной<br>онлайн-практикум<br><span>АРСЕНАЛ</span>
        p.intro__p 30 дней обучения и внедрения лучших инструментов маркетинга <br>С моментальным результатом без воды и болтовни
        ul.intro__list 
          li.intro__p.dots Освой онлайн-профессию и зарабатывай
          li.intro__p.dots Создай очередь клиентов в действующий бизнес
          li.intro__p.dots Повысь квалификацию как маркетолога
        a(href="#!").intro__btn я в деле! 
      .intro__image   
        img(src="images/intro.png", alt="military").intro__img