mixin intro()
    .intro 
        .intro__body.container  
            .intro__content 
                h1.intro__title Взрывной онлайн-практикум <span>АРСЕНАЛ</span>
                p.intro__p 30 дней обучения и внедрения лучших инструментов маркетинга <br>С моментальным результатом без воды и болтовни
                ul.intro__list 
                    li.intro__p.dots Освой онлайн-профессию и зарабатывай
                    li.intro__p.dots Создай очередь клиентов в действующий бизнес
                    li.intro__p.dots Повысь квалификацию как маркетолога
                a(href="#price2").intro__btn я в деле! 
        .intro__anim 
            .intro__anim-wrap 
                img(src="images/telegram-mes.png", alt="")
                img(src="images/whatsapp-mes.png", alt="")
                img(src="images/insta-mes.png", alt="")