mixin or()
    .or 
        .or__body.container 
            h2.what__title 
                img(src="images/programm.svg", alt="")
                | Хочень чуда?
            p.or__subtitle Есть рассрочка
            .or__row 
                .or__item
                    p.or__price 25 000	₸
                    p.or__p Оплати сразу
                img(src="images/or.png", alt="").or__img
                .or__item
                    p.or__price 25 000	₸
                    p.or__p Оплати через 2 недели
            a(href="#!").or__btn Оплатить
