mixin percent()
  .percent
    h2.what__title 
      img(src="images/aim.svg" alt="")
      | КАК ЭТО РАБОТАЕТ
    .percent__body.container
      .percent__item
        h3.percent__title 95% 
          img(src="images/glw.png" alt="m4")
        h4.percent__subtitle бизнесов и маркетологов
        p.percent__p Используют лишь малую часть того оружия, которое может быть в их руках. Запускают 1-3 несчастных рекламных кампаний и радуются 15-20 новым клиентам за месяц. Их работа похожа на револьвер, в котором семь пуль и после семи выстрелов ты теряешь кучу времени на перезарядку барабана
      .percent__item
        h3.percent__title 5% 
          img(src="images/m4.png" alt="m4")
        h4.percent__subtitle бизнесов и маркетологов
        p.percent__p Практически каждый день тестируют и внедряют новые инструменты и гипотезы. Поливают рекламой и уникальными предложениями, словно очередью из пулемета до последнего патрона и не оставляют потенциальным клиентам и шанса, чтоб не совершить покупку 
