mixin programm()
    .programm#programm   
        .programm__body.container 
            h2.what__title 
                img(src="images/aim.svg", alt="")
                | Программа курса
            .programm__content 
                .programm__item
                    p.programm__title Теоретическая часть: 
                        img(src="images/programm.svg", alt="")
                    ul.programm__list 
                        li.programm__li <span>1.</span> Вводный блок онлайн-маркетинга 
                        li.programm__li <span>2.</span> Как быть в теме (что читать, смотреть и изучать) 
                        li.programm__li <span>3.</span> Продукт, уникальное торговое предложение 
                        li.programm__li <span>4.</span> Брендинг, упаковка, айдентика, фирменный стиль 
                        li.programm__li <span>5.</span> Целевая аудитория, анализ конкурентов, ценообразование, сегменты работы 
                        li.programm__li <span>6.</span> Площадки и их рекламные инструменты (соц. сети, сайты, мессенджеры, агрегаторы, прочие сервисы) 
                        li.programm__li <span>7.</span> Привлечение новых клиентов/ Работа с действующими клиентами/ Пробуждение спящих и старых клиентов 
                        li.programm__li <span>8.</span> Гипотезы (метод проверки гипотез от Балина) 
                        li.programm__li <span>9.</span> Контент, УТП, продающие предложения, копирайтинг, триггеры 
                        li.programm__li <span>10.</span> Дизайн, который продаёт 
                        li.programm__li <span>11.</span> Контент-маркетинг, подогрев аудитории 
                        li.programm__li <span>12.</span> Воронки и автоворонки продаж 
                        li.programm__li <span>13.</span> Квиз-маркетинг 
                        li.programm__li <span>14.</span> Как работать с клиентом, брифы, анкеты 
                        li.programm__li <span>15.</span> Аналитика рекламных компаний  
                        li.programm__li Гипотеза -> Действие -> Результат - >Выводы
                .programm__item
                    p.programm__title Практическая часть:
                        img(src="images/programm.svg", alt="")
                        ul.programm__list 
                            li.programm__li <span>1.</span> Основной арсенал инструментов и сервисов любого маркетолога 
                            li.programm__li <span>2.</span> Что делать самому/Что делегировать 
                            li.programm__li <span>3.</span> Базовая работа с PhotoShop создать объявление, но лучше дизайнер 
                            li.programm__li <span>4.</span> Настройка таргетированной рекламы + ретаргеты 
                            li.programm__li <span>5.</span> Kwork 
                            li.programm__li <span>6.</span> Отслеживание, UTM метки 
                            li.programm__li <span>7.</span> Организация работы в trello 
                            li.programm__li <span>8.</span> Создание чат-ботов 
                            li.programm__li <span>9.</span> Создание сайтов 
                            li.programm__li <span>10.</span> JivoSite 
                            li.programm__li <span>11.</span> Создание квизов 
                            li.programm__li <span>12.</span> Создание архитектуры авторонки продаж 
                            li.programm__li <span>13.</span> InstaPlus и парсер для вацап 
                            li.programm__li <span>14.</span> Wsender вацап рассылки 
                            li.programm__li <span>15.</span> MyOwnConference вебинары 
                            li.programm__li <span>16.</span> Оформление инстаграм-страницы
                            li.programm__li <span>17.</span> Поиск первых клиентов