mixin quote()
  .quote
    .quote__body.container  
      img(src="images/bullet.svg", alt="").quote__img
      .quote__content 
        h2.quote__title АРСЕНАЛ БЕЗ УМЕНИЯ СТРЕЛЯТЬ, ВСЕ-РАВНО ЧТО ОБЕЗЬЯНА С ГРАНАТОЙ
        p.quote__p Именно поэтому каждый инструмент, который ты будешь получать и узнавать, ты изучишь на  практике и научишься им правильно пользоваться 
        p.quote__subtitle Но ! Придется впахивать!