mixin video()
  .video 
    .video__body.container 
      .video__content
        img(src="images/video-img.png", alt="video").video__img
      .video__text
        p.video__p Набор инструментов маркетинга, которые дают возможность быть уверенным в завтрашнем дне и подбирать нужную стратегию для любого бизнеса в любой нише и в любое время 
        h2.video__title ЭТО И ЕСТЬ АРСЕНАЛ
        p.video__p Но даже пулемет дает осечки – заканчиваются патроны, перегревается. <br>А теперь представьте, что у Вас не один пулемет и револьвер,  целый склад боеприпасов на год вперед.