mixin what()
  .what#about
    .what__body.container 
      .what__image 
        img(src="images/what.png", alt="").what__img 
      .what__content 
        h2.what__title 
          img(src="images/aim.svg", alt="")
          | Что такое Арсенал ?
        p.what__p <b>Арсенал</b> – это набор всей информации и инструментов, необходимых тебе для того, что бы быть Рембо в сфере интернет-рекламы и на повал валить всех, кто столкнется с твоим маркетингом. 
        p.what__p <b>С этим арсеналом</b> <br>Ты не оставишь никому не единого шанса пропустить твою рекламу и не купить то, что ты продвигаешь