mixin why()
    .why#why 
        .why__body.container 
            h2.what__title 
                img(src="images/aim.svg" alt="")
                | КОМУ И ЗАЧЕМ НУЖЕН АРСЕНАЛ?
            .why__row 
                .why__item
                    h3.why__item-title Новобранец 
                        img(src="images/star-1.svg" alt="1 stars")
                    p.why__item-p Освой современную востребованную профессию, начни работать сам на себя и зарабатывай от 250.000 тенге в месяц
                .why__item
                    h3.why__item-title Рядовой
                        img(src="images/star-2.svg" alt="2 stars")
                    p.why__item-p Повысь свою квалификацию в сфере маркетинга. Начни выдавать сверхрезультаты и оправданно увеличь стоимость своих услуг
                .why__item
                    h3.why__item-title Новобранец 
                        img(src="images/star-3.svg" alt="3 stars")
                    p.why__item-p Освой современную востребованную профессию, начни работать сам на себя и зарабатывай от 250.000 тенге в месяц
            a(href="#price").why__btn Хочу участвовать 