doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    link(href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;700&display=swap" rel="stylesheet")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css")
    link(rel="stylesheet", href="styles/index.css")
  body 
    include components/header.pug 
    include components/intro.pug 
    include components/what.pug 
    include components/why.pug 
    include components/percent.pug 
    include components/video.pug 
    include components/quote.pug 
    include components/space.pug 
    include components/advantages.pug 
    include components/programm.pug 
    include components/answers.pug 
    include components/cost.pug 
    include components/or.pug 
    +header
    +intro
    +what
    +why
    +percent
    +video
    +quote
    +advantages
    +programm
    +answers
    +cost
    +or
    script(src="scripts/jquery.js") 
    script(src="scripts/index.js") 